<section class="home-section">
	<h4 class="graphic__title">Grafica ECG</h4>
	<div class="graphic-container">
		<canvas id=chart width="inherit" height="inherit"></canvas>
		<script>
			let lectdata = {{ lectdata | safe }}
			let labels = {{ labels | safe }}
			chart = new Chart(document.getElementById("chart"), {
				type: 'line',
				data: {
					labels: labels,
					datasets: [{
						label: "mV ECG",
						data: lectdata,
						borderColor: "#3e95cd",
						backgroundColor: 'rgba(0, 0, 0, 0.5)',
					}]
				},
				options: {
					responsive: true,
					plugins: {
						legend: {
							position: 'center',
						}
					},
					animation: false,
				}
			});
		</script>
		<script>
			(function reload() {
				setTimeout(() => {
					document.location.reload();
				}, 3000);
			})();
		</script>
	</div>
</section>